<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <appSettings>
    <add key="MessageCount" value="500000"/>
    <add key="MessageSize" value="128"/>
    <add key="Mode" value="Async"/>
    <add key="MaxSendPacketSize" value="8192"/>
    <add key="SocketBufferSize" value="8192"/>
    <add key="ServerAddress" value=""/>
    <add key="ParallelThreadCount" value="1"/>
  </appSettings>
</configuration>
